<div class="row">
    <div class="col-md-4 offset-md-4">
       
        <br>
       
        <form  [formGroup]="loginForm" class="form">
                <p-card class="card border-secondary card-2">
                        <h1 class="text-center">Login</h1><br>
                <span class="ui-float-label">
                    <input id="float-inpu1t" type="text" size="30"> 
                    <label for="float-inpu1t">Username</label>
                </span>
                <span class="error-message text-danger" *ngIf="loginForm.get('emailId').invalid
                    && loginForm.get('emailId').touched">Enter
                    the valid email id
                </span>
            <br>
            <br>
            <span class="ui-float-label">
                <input id="float-input" ngModel passwordToggle type="password" size="30" pInputText formControlName="password" id="uPass">
                <label for="float-input">Password</label>
                <span class="error-message text-danger" *ngIf="loginForm.get('password').invalid
                    && loginForm.get('password').touched">Enter
                    a valid password
                </span>
            </span>
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-lg">Login</button>
            <!-- <button pButton type="button" class="ui-button-raised ui-button-rounded"></button> -->
            <!-- <button pButton class="ui-button-info" label="LOGIN" type="submit" id="lbutton" ></button> -->
            <br/>
            <br>
            <!-- <div class="form-group">
                    <div *ngIf="errorMessage!=null" class="text-danger">
                        {{errorMessage}}
                    </div>
                    <div *ngIf="successMessage!=null" class="text-success">
                        {{successMessage}}
                    </div>
                </div> -->
            
        </p-card>
        </form>
       
 
        <!--can be a button or a link based on need -->
       
    </div>

</div>