<body>
    <div class="card">
        <div class="bg-info text-center">
            <h1>Icount Appraisal System</h1>Welcome! John
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h3>Goals</h3>
                    <p class="card-text">Creative ideas and skill development</p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h3>Feedback</h3>
                    <ul class="card-text text-left">
                        <li>Manager Feedback</li>
                        <li>Seek Feedback</li>
                        <li>Share Feedback</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="card bg-light">
            <div class="card-body text-center">
                <h3>Appreciation</h3>
            </div>
        </div>
    </div>
</body>